body {
  background-color: white;
  color: grey;
  font-family: "Inter", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(55 65 81);
}

h1,
h2,
h4 {
  color: rgb(17 24 39);
  margin: 0.5rem 0;
}

.container {
  margin: 0 auto;
  max-width: 64rem;
  position: relative;
}

nav {
  margin: 1.5rem auto;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

nav > a {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image-container img {
  max-width: 50%;
  object-fit: cover;
  box-shadow: 0 1.5rem 3rem -0.75rem rgb(0 0 0 / 0.25);
  border-radius: 1rem;
}

#about {
  margin: 0.5rem 1rem;
  z-index: 100;
  left: 0;
  top: 20rem;
}

.button {
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 0.25rem;
  font-family: inherit;
}

.button:hover {
  cursor: pointer;
}

#button-linkedin {
  color: white;
  background-color: rgb(17 24 39);
  border-color: transparent;
}

#button-linkedin:hover {
  color: rgb(31 41 55);
  background-color: white;
  border: 1px solid rgb(31 41 55);
}

#button-github {
  color: rgb(17 24 39);
  background-color: white;
  border: 1px solid rgb(17 24 39);
}

#button-github:hover {
  color: white;
  background-color: rgb(17 24 39);
  border: 1px solid rgb(17 24 39);
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#projects {
  margin: 1.5rem 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  gap: 2rem;
  padding: 0 0.5rem;
}

.projects-container article {
  width: 20rem;
  height: 100%;
  padding: 0 0.5rem;
  border: 1px solid rgb(17 24 39);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container article img {
  max-width: 15rem;
  margin: 0.5rem 0;
  border-radius: 1rem;
  overflow: hidden;
  object-fit: cover;
}

.projects-container article p {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

/* Add media queries for different screen sizes */
@media (min-width: 640px) {
  .nav-links {
    gap: 3rem;
  }

  #about {
    display: flex;
  }

  .about-text {
    order: 1;
  }

  .about-image {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  .about-image-container img {
    min-width: 12.5rem;
    max-width: 55rem;
    box-shadow: 0 1.5rem 3rem -0.75rem rgb(0 0 0 / 0.25);
    border-radius: 1rem;
    overflow: hidden;
    margin-right: 0.5rem;
    width: 100%;
    height: 100%;
  }
}
